<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    
    <!-- Toggler button for small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain" aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarMain">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {{#user}}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin</a>
        </li>
        {{/user}}
        
        <li class="nav-item">
          <a class="nav-link" href="/classes">Classes</a>
        </li>
      </ul>

      <!-- Right-aligned links -->
      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        {{#user}}
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {{/user}}

        {{^user}}
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {{/user}}
      </ul>
    </div>
  </div>
</nav>
